.nav_header {
    height: 20%;
    background-color: rgb(129, 129, 248);
    display: flex;
    box-shadow:2px 2px 2px gainsboro;
    flex-direction: row;
    align-items: center;
}

.nav_title {
    color:white;
    font-size:3rem;
    letter-spacing: 0.25rem;
}